body {
  font-family: 'Fira Sans', sans-serif !important;
}

#title {
  background-color: #8000FF;
}

nav {
  background-color: #8000FF;
}

.comfortaa {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

.fira-code {
  font-family: 'Fira Code', sans-serif;
}

.preview-img {
  width: 64%;
}

.download-icon{
  color: #ffffff;
}

.features-icon{
  font-size: 4rem;
  color: #8000ff;
}