.img {
  width: 64%;
}

.testimonial-text {
  width: 80%;
}

.testimonial-img {
  width: 8%;
  border-radius: 80%;
}

.press-img {
  width: 48%;
}

.press-tc-img {
  width: 32%;
}

.features-icon {
  font-size: 4rem;
}

/* Colors */
.my-bg-primary {
  /* background-color: #8000FF !important; */
  background-color: #6600CC !important;
}

.my-bg-black {
  background-color: #141316 !important;
}

.my-text-white {
  color: #EBE9EC !important;
}

/* Fonts */
.comfortaa {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

.fira-scan {
  font-family: 'Fira Sans', sans-serif !important;
}
